<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/header :: header"></head>
<body>
<nav th:replace="layout/body-header :: body-header"></nav>

<div class="container-fluid mt-3">
    <div class="card" style="margin: 50px 100px 0 100px">
        <div class="card-body">
            <h4 class="card-title" th:text="${post.title}">타이틀</h4>

            <div style="margin: 20px 0 30px 0" th:utext="${post.content}">내용</div>

            <div>
                포스트 번호: <i th:text="${post.id}">포스트 번호</i> <br>
                작성자: <i th:text="${post.user.username}">작성자</i>
            </div>

            <hr>

            <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
            <a class="btn btn-warning"
               href="/post/${post.id}/updatePost"
               th:href="@{/post/{postId}/update-post (postId = ${post.id})}"
               th:hidden="${post.user.username != user.username}">수정하기</a>
            <button id="btn-delete-post" class="btn btn-danger"
                    th:hidden="${post.user.username != user.username}"
                    th:onclick="|postObject.deletePost(${post.id})|">
                삭제하기
            </button>
        </div>

        <div style="margin: 40px 30px 10px 30px">
            <table cellpadding="10px" border="0" width="100%">

                <colgroup>
                    <col style="width: 80%">
                    <col style="width: 10%">
                    <col style="width: 20%">
                </colgroup>
                <tr style="border-bottom: 2px solid black">
                    <th>내용</th>
                    <th style="text-align: center">작성자</th>
                    <th style="text-align: center">삭제</th>
                </tr>

                <tr th:each="reply : ${replyList}" style="border-bottom: 1px solid lightgray">
                    <td th:text="${reply.comment}">댓글</td>
                    <td th:text="${reply.writer}" style="text-align: center">작성자</td>
                    <td style="text-align: center">
                        <button id="btn-delete-reply" class="btn btn-light pull-right"
                                th:hidden="${reply.writer != user.username}"
                                th:onclick="|replyObject.deleteReply(${post.id}, ${reply.id})|">삭제
                        </button>
                    </td>
                </tr>
            </table>
            <br>
            <form>
                <textarea id="comment" rows="1" style="width: 100%"></textarea>
            </form>
            <button id="btn-insert-reply" class="btn btn-secondary" style="float: right; " th:onclick="|replyObject.insertReply(${post.id})|">덧글등록</button>
        </div>
    </div>
</div>

<div th:replace="layout/footer :: footer"></div>

<script src="/js/post.js"></script>
<script src="/js/reply.js"></script>
</body>
</html>